.center_content {
	width: 30%;
}

.left_content {
	width: 70%;
}

#sidebar {
    width: 200px;
    padding: 10px;
    float: left;
}

#main {
    margin-left: 225px;
}

#container {
    width: 700px;
    margin: 0px auto;
    text-align: left;
}